# Python cache files
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/

# IDE files
.vscode/
.idea/

# Generated reports
reports/

# Machine learning generated models
models/*.pkl

# Operating system files
.DS_Store
Thumbs.db